<div class="photo-image">
{{fileName}} {{title}}
	<img src="{{photoURL}}" class="photo" />
	{{#each droppedStickers as |droppedSticker|}}
		<img src="{{droppedSticker.url}}" style="top:{{droppedSticker.posy}}px; left:{{droppedSticker.posx}}px" class="sticker-drop"/>
	{{/each}}
</div>
